BRAND_TYPE=pureBrand
LOGIN_LOGO_NAME=/usr/share/pmc/gui/3.0/tomcat/webapps/platform/framework/login/images/logoInLoginPage.png
LOGIN_PARTNER_LOGO_NAME=/usr/share/pmc/gui/3.0/tomcat/webapps/platform/framework/login/images/partnerLogoInLogin.png
LOGIN_TITLE=Welcome to Symphony 6.0
LOGIN_PRODUCT_NAME=IBM Spectrum Symphony 6.0
MAIN_TITLE=IBM Spectrum Symphony
MAIN_LOGO_NAME=/usr/share/pmc/gui/3.0/tomcat/webapps/platform/framework/images/platform_logo_green.png
PARTNER_LOGO_NAME=/usr/share/pmc/gui/3.0/tomcat/webapps/platform/framework/images/partnerLogo.png
MAIN_PRODUCT_NAME=IBM Spectrum Symphony






