<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="AZURE_FILE_APPEND" class="org.apache.log4j.RollingFileAppender">
      <param name="append" value="true"/>
      <param name="file" value="azure-provider.log"/>
      <param name="MaxFileSize" value="10MB"/>
      <param name="MaxBackupIndex" value="5"/>
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}]-[%p]-[%l] %m%n"/>
      </layout>
    </appender>

    <category additivity="false" name="com.ibm.spectrum">
    <!-- User can modify the 'INFO' to FATAL, ERROR, WARN or DEBUG -->
        <priority value="INFO"/>
        <appender-ref ref="AZURE_FILE_APPEND"/>
    </category>

    <category additivity="false" name="org.springframework">
        <priority value="ERROR"/>
        <appender-ref ref="AZURE_FILE_APPEND"/>
    </category>
    <category additivity="false" name="com.microsoft">
        <priority value="ERROR"/>
        <appender-ref ref="AZURE_FILE_APPEND"/>
    </category>
    <category additivity="false" name="org.apache.http">
        <priority value="ERROR"/>
        <appender-ref ref="AZURE_FILE_APPEND"/>
    </category>
    <category additivity="false" name="com.fasterxml.jackson">
        <priority value="ERROR"/>
        <appender-ref ref="AZURE_FILE_APPEND"/>
    </category>

    <root>
      <priority value="ERROR"/>
      <appender-ref ref="AZURE_FILE_APPEND"/>
    </root>

</log4j:configuration>
